body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #060f2c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 50px  auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 40px;
    color: #333;
    margin: auto;
}

h2 {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(1, 1, 65)
}

label {
    font-weight: bold;
    margin-top: 30px;
    display: block;
}

select {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #bd7d07;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #f1eeee;
    font-size: 12px;
    background-color: #060f2c;
    z-index: 1;
  }